* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 2;
  }
 
  nav {
	min-width: 50%;
	width: 100%;
	height: 45%;
	font-size: 18px;
	z-index: 3;
	}
  
  .nav-links {
	vertical-align: auto;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
	text-decoration: none;
	margin-top: 0;
	padding-bottom: 50px;
  }
  nav > ul > li{
	line-height: 40px;
    float: left;
    text-align: center;
	transition: all 800ms;
	display: block;
}
  
	nav > ul > li a{
    font-size: 30px;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
	color: #1d2f33;
    text-decoration: none;
    font-family: navbar;
    font-weight: 800;
}
nav a:hover {
	color: #dbc665;
	
}
	@media screen and (min-width:800px) {
		.navbar-toggler{
			display: none;
		}
	}
  @media screen and (max-width: 899px) {
	.navbar ul {
		padding: 0 10px;
	  }
	  .navbar ul li a {
		min-width: 100px;
		padding: 0 20px;
		color: rgba(80, 77, 77, 0.993);;
	  }
	}
	
	@media (max-width: 767px) {
		
		.navbar {
		padding: 0;
	  }
	  .navbar ul {
		width: 100%;
		padding: 0;
		background-color: rgba(30, 105, 155, 0.5);
		height: auto;
		max-height: 0;
		overflow: hidden;
		transition: all ease-in-out 0.3s;
	  }
	  .navbar ul.open {
		max-height: 100vh;
	  }
	  .navbar ul li {
		width: 100%;
		/* border-bottom: 1px solid rgba(255,255,255,0.3); */
	  }
	  .navbar ul li a {
		padding: 0;
	  }
	  .navbar .navbar-toggler {
		display: block;
		position: absolute;
		height: 40px;
		top: 20px;
		right: 20px;
		background-color: transparent;
		color: rgba(61, 59, 59, 0.993);
		border: 2px solid rgba(61, 59, 59, 0.993);
		outline: none;
		padding: 0 5px;
		cursor: pointer;
	  }
	  .navbar .navbar-toggler span,
	  .navbar .navbar-toggler span::before,
	  .navbar .navbar-toggler span::after {
		display: block;
		content: '';
		background-color: rgba(61, 59, 59, 0.993);
		height: 3px;
		width: 28px;
		border-radius: 4px;
		transition: all ease-in-out 0.3s;
	  }
	  .navbar .navbar-toggler span::before {
		transform: translateY(-8px);
	  }
	  .navbar .navbar-toggler span::after {
		transform: translateY(5px);
	  }
	  
	  .navbar .navbar-toggler.open-navbar-toggler span {
		/* transform: rotate(90deg); */
		background-color: transparent;
		/* transform: scale(0.85) rotate(270deg); */
	  }
	  .navbar .navbar-toggler.open-navbar-toggler span::before {
		transform: translateY(0px) rotate(45deg);
		/* transform: translateY(0px) scale(0.75) rotate(45deg); */
	  }
	  .navbar .navbar-toggler.open-navbar-toggler span::after {
		transform: translateY(-3px) rotate(-45deg);
		/* transform: translateY(-3px) scale(0.75) rotate(-45deg); */
	  }
	}