*{  padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}
/*cabecera*/
.cabecera, nav{
    text-align: center;
    padding: 2%;
    background-color: rgba(30, 105, 155, 0.856);
    z-index: 1;
}
@font-face{
    font-family: titulo;
    src: url(../fonts/Galada-Regular.ttf);
}

.cabecera h1{
    padding: 0;
    font-family: titulo;
    font-size: 8vw;
    color: rgba(46, 45, 45, 0.993);
}
nav{
    z-index: 3;
}
@media screen and (max-width:899px){
    .cabecera{
        background-color:  rgba(30, 105, 155, 0.918);
        text-align: justify;
    }
    .cabecera h1{
        color: rgba(61, 59, 59, 0.993);
        font-size: 10vw;
        padding-top: 2%;
    }
}
/*fin cabecera*/
body{
    background-image: url(../image/fondoheader.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper{
    background-color: rgba(0, 0, 0, 0.616);
    padding: 3%;
    margin: 0;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 5%;
}
.form .user{
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    height: max-content;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

@font-face{
    font-family: cont;
    src: url(../fonts/Cinzel-Regular.ttf);
}
.form h2{
    font-family: cont;
    text-align: center;
    font-size: 2.5vw;
}

#boton{
    background-color: #8a4402e0 ;
    border: 2px solid black;
    padding: 1.5%;
    font-size: 1.6vw;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 20%;
    margin-right: auto;
    margin-left: auto;
}

#boton:hover{
    background-color: rgba(145, 41, 9, 0.459);
}

form{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.form{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(224, 76, 7, 0.76);
    text-align: center;
    border-radius: 5%;
    padding: 3%;
}
.form label{
    font-size: 2vw;
    margin-top: 3%;
    margin-bottom: 3%;
}
.form input{
    margin-bottom: 3%;
    padding: 2%;
}
.form #boton{
    margin-top: 5%;
    margin-bottom: 3%;
}

.instructions{
    margin-bottom: 4%;
    font-family: cont;
    text-align: justify;
    padding: 3%;
    width: 60%;
}

#button {
    text-align: center;
}

.form a{
    font-size: 1.5vw;
    text-decoration: none;
    color: rgb(88, 59, 19);
}
.form a:hover{
    color: rgb(189, 202, 7);
}
.details{
    text-align: center;
    color: aliceblue;
    font-size: 3vw;
    padding: 4%;
}
@media screen and (max-width:899px){
    .wrapper{
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        background-color: rgba(37, 19, 2, 0.822);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }
    .form{
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        border-radius: 10%;
    }
    .form h2{
        font-size: 10vw;
    }

    #boton{
        font-size: 5vw;
    }
    .form label{
        font-size: 8vw;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .form a{
        font-size: 5vw;
    }
    .details{
        font-size: 7vw;
        padding: 4%;
    }
}

/*footer*/
footer{
    background-color:  rgba(30, 105, 155, 0.781);
}
